

.label {
    width: 24%;
    /* positions the label text beside the input */
    text-align: right;
}

.label + .input {
    width: 45%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 21% 0 2%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
.input + .input {
    float: right;
}

.hidden
{
  height: 0;
  visibility: hidden;
}

.mainBanner
{
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  border-right: 1.5px solid #000;
  border-left: 1.5px solid #000;
  border-radius: 35px;
}
/**
.mainBanner:before
{
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  -moz-box-shadow:inset 0px 0px 15px 20px rgba(255,255,255,1);
  -webkit-box-shadow:inset 0px 0px 15px 20px rgba(255,255,255,1);
  box-shadow:inset 0px 0px 15px 20px rgba(255,255,255,1);
}
*/

.borderRight
{
  border-right: 1.5px solid #000;
}

.borderLeft
{
  border-left: 1.5px solid #000;
}

.center
{
  margin: auto;
  text-align: center;
}

.left
{
  margin: auto;
  text-align: left;
  max-width: 600px;
}

.spaced
{
  padding: 55px 0px 0px 0px;
}

.spaceTop
{
  padding: 25px 10px 0px 10px;
}

.max-height
{
  top: 0;
  height: 100% !important;
}

.max-width
{
  width: 100% !important;
}

.infoColumn
{
  margin: 0;
  padding: 22.5px 10px 24px 10px;
}

.headerImg
{
  width: calc(519px/2.125);
  height: calc(173px/2.125);
  padding: 25.5px 10px;
}

#shipping
{
  margin-bottom: -2% !important;
}

.header
{
  margin-bottom: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

.title
{
  font-weight: bold;
  text-decoration: underline;
}

.subTitle
{
  padding: inherit;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.noMargin
{
  margin-bottom: 0;
}

.space
{
  margin-top: 1.5em;
}

.space h5
{
  margin-bottom: 1rem;
}

.select
{
  max-height: 38px;
}

.selectSml
{
  padding: 0 0;
  font-size: 1.15rem;
  height: 25px;
  width: ;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.field
{
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fieldAlt
{
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.field, .center h6
{
}

.smlBox
{
  max-width: 550px;
  margin: auto;
}

.modal
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open .modal
{
  overflow-x: hidden;
  overflow-y: auto;
}

.modal.in .modal-dialog
{
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.modal.fade .modal-dialog
{
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}
.modal-dialog
{
  position: relative;
  width: 50%;
  top: 35%;
  margin: auto;
}

.modal-content
{
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header
{
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body
{
  position: relative;
  padding: 15px;
  /*background-color: #faa334;*/
}

.modal-footer
{
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #faa334;
}

.modal-footer button
{
  background-color: #fff;
}

#btnSubmit
{
  transition: 1s;
  transition-timing-function: ease-in-out;
}

#return-to-top
{
  position: fixed;
  bottom: 27.5px;
  right: 20px;
  background: rgba(250, 163, 52, 1);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid #fff;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  }

#return-to-top i
{
  color: #fff;
  margin: 0;
  position: relative;
  left: 14.5px;
  top: 11.5px;
  font-size: 25px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#return-to-top:hover
{
  background: #fff;
  border-color: #faa334;
}

#return-to-top:hover i
{
  color: rgba(250, 163, 52, 1);
}

#selectMe, #selectMe2, #selectMe3
{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#-error, #authName-error, #reqName-error, #username-error, #position-error
{
  position: absolute;
  float: right;
  left: 42em;
  color: red;
  text-align: right;
}

#authName-error
{
  top: 16em;
}

#reqName-error
{
  top: 18.5em;
}

#username-error
{
  top: 33em;
}

#position-error
{
  top: 35.5em;
}
